<div class="d-flex justify-content-center align-items-center min-vh-100">
  <form class="form w-25" #userForm="ngForm" (ngSubmit)="signin(userForm)">
    <h2 class="text-center mb-4">Create Account</h2>
    
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" ngModel class="form-control" required>
    </div>
    
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" ngModel class="form-control" minlength="8" maxlength="8" size="8" required>
    </div>
    <span *ngIf="userForm.invalid && (userForm.dirty || userForm.touched)">
       
      <small class="text-danger"  >Password must be 8 characters long.</small>
       
    </span>
    
    <div class="mb-3">
        <label for="role" class="form-label">Role:</label>
        <select class="form-select text-primary" id="role" ngModel name="role" required>
            <option value="">Select Role</option>
            <option value="Admin">Admin</option>
            <option value="Employee">Employee</option>
        </select>
    </div>
    
    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-success flex-grow-1">Signin</button>
      <button type="button" class="btn btn-primary" (click)="login()">Login</button>
    </div>
  </form>
</div>
